@import utils.i18n._
@import views.html.components.dropdownNavigationItem
@dropdownNavigationItem("View", i18n.help.navMenu.view,"","status.isopen2"){
<li><a mousetrap="Shift+S" ng-click="status.filesystem = false; $root.shell = !shell; $root.shell && $emit('compileGraph'); status.isopen2=false; graph.updateLater()">Toogle Console View</a></li>
<li><a mousetrap="Shift+R" ng-click="status.filesystem = false; viewGraph(rootGraph); status.isopen2=false;">View Root Graph</a></li>
<li><a mousetrap="Shift+F" ng-click="status.filesystem = true; status.isopen2=false;">View FileSystem</a></li>
<li class="divider"></li>
<li><a mousetrap="Shift+V" ng-click="status.videobeam = !status.videobeam; status.noTooltip = true; status.isopen2=false;">project mode</a></li>

<li class="dropdown-header">Macros</li>
<li ng-repeat="macro in graphModel.macroList"><a ng-bind="macro" ng-click="status.filesystem = false; viewGraph(graphModel.macros[macro]); status.isopen2=false"></a></li>
}
